!!! 5
%head
  %script{src:'/jquery.js'}
  %script{src:'/bootstrap/js/bootstrap.js'}
  %link{rel:'stylesheet', href:'/bootstrap/css/bootstrap.css', type:'text/css'}
  :coffee
    api_url = "#{settings.api_url}"
    build_table = (data) ->
      $('tr.row').remove() if $('tr.row')

      for obj in data
        row = obj["format_definition"]
        line = "<tr class='row'><td>"+row.id+"</td><td>"+row.name+"</td><td>"+row.importer_class+"</td><td><a href='javascript: delete_row("+row.id+")'>x</a></td></tr>"
        $("table").append(line)

    @json_error = (json_error_string) ->
        error_obj = JSON.parse json_error_string
        msg = "The following error(s) occured:\n"
        for error in error_obj.errors
          msg += "- "+error["error"]+"\n"
        alert msg

    @delete_row = (id) ->
      $.ajax api_url+"/format_definition/"+id+"/delete",
        type: 'POST',
        crossDomain: true,
        dataType: "json",
        success: ->
          load_index()
        error: (jqXHR, textStatus, errorThrown) ->
          json_error jqXHR.responseText

    load_index = () ->
      $.ajax api_url+"/format_definition",
        crossDomain: true,
        error: (jqXHR, textStatus, errorThrown) ->
          json_error jqXHR.responseText
        success: (data, textStatus, jqXHR) ->
          build_table data


    $(document).ready ->
      load_index()


      $('#format_definition_form button').click (e) ->
        e.preventDefault()
        $.ajax api_url+"/format_definition/new",
          type: 'POST',
          crossDomain: true,
          dataType: "json",
          data:
            "name": $('#name').val(), "importer_class": $('#importer_class').val(), "importer_parameters": $('#importer_parameters').val()  # '{ "name": "'+$('#name').val()+'", "importer_class": "'+$('#importer_class').val()+'", "importer_paramters": "'+$('#importer_parameters').val()+'" }'.replace(/\"/g,'\\"')")
          success: ->
            load_index()
          error: (jqXHR, textStatus, errorThrown) ->
            json_error jqXHR.responseText
%body
  %h1 Saved Format Definitions
  %table
    %tr
      %th ID
      %th Name
      %th Class
      %th Delete
  %h1 Create New
  %form{id: 'format_definition_form'}
    %label Name
    %input{id: 'name', name:'name'}
    %label Class
    %input{id: 'importer_class', name:'importer_class'}
    %label Parameters
    %textarea{id: 'importer_parameters', name:'importer_parameters'}
    %button Submit
