%body
%h1 Imports
%table#imports.table.table-striped.table-hover
  %tr
    %th Name
    %th Namespace
    %th GeoContext
    %th Format
    %th URL
    %th Description
    %th

%h2 Create a new Job

%form#add_import_form.form-horizontal
  .control-group
    %label.control-label{for: 'name' }Name
    .controls
      %input#name
  .control-group
    %label.control-label{for: :namespace}Namespace
    .controls
      %input#namespace
  .control-group
    %label.control-label{for: :geo_context}Context
    .controls
      %input#geo_context
  .control-group
    %label.control-label{for: :format_definition}Format
    .controls
      %select#format_definition
  .control-group
    %label.control-label{for: :url}URL
    .controls
      %input#url
  .control-group
    %label.control-label{for: :description}Description
    .controls
      %textarea#description{rows: '3'}
  .control-group
    .controls
      %button.btn.btn-primary#add_import_submit Submit
